<div class="mt-4">
    <form method="GET">
        <div class="mb-3">
            <label for="search-input" class="form-label">Surf...</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter whatever you are searching for.">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>